<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="utf-8">
    <title>Обмен двух валют</title>
</head>
<body>
<div class="alert alert-warning">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Валюта на обмен</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Валюта целевая</th>
                <th scope="col">Курс</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <form>
                    <td>
                        <input id="a" type="number" size="32" placeholder="0">
                    </td>
                    <td th:text="${pairExchange.base_code}"  />
                    <td> = </td>
                    <td>
                        <output name="out" for="a b">0</output>
                    </td>
                    <td th:text="${pairExchange.target_code}" />
                    <td th:text ="${pairExchange.conversion_rate}"/>
                    <td>
                        <input id="b" type="hidden" th:attr="value=${pairExchange.conversion_rate}"/>
                    </td>
                    <input type="button" onclick="out.value=parseFloat(a.value) * parseFloat(b.value)" value="Вычислить сумму обмена">
                </form>
            </tr>
            </tbody>
        </table>
    </div>
  </div>
<div>
    <p>

    </p>
    <p>

    </p>
    <form th:action="@{/allCurrencies/RUB}">
        <button type="submit" class="btn btn-primary mt-3">Вернуться на главную страницу </button>
    </form>
</div>
</body>
</html>